<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar">Rohit</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li class="navbar-left active" style="font-size:40px"><a href="#">WatchTime</a></li>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#" routerLink="Products">Products</a></li>
        <li><a href="#" routerLink="shops">Shops</a></li>
        <li><a href="#" routerLink="contactus">Contact Us</a></li>
        <li><a href="#" routerLink="aboutus">About Us</a></li>
        <li class="navbar-right"><a href="#" routerLink="Signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="navbar-right"><a href="#" routerLink="login"><span class="glyphicon glyphicon-log-in"></span> {{buttonText}}</a></li>  
        <!--<li class="navbar-right"><a href="#" routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Logout</a>>-->
        </ul>
    </div>
  </nav>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
