<section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="../../assets/images/a-1.jpg" alt="">
            </div>
            <div class="img-box b2">
              <img src="../../assets/images/a-2.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              About US
            </h2>
            <p>
                We have every kind of watch you can dream of, from digital watches, analog watches, and chronograph watches to sports watches, luxury watches, and premium.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
