<section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Shops
        </h2>
      </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="../../assets/images/justInTime1.png" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Just In Time
                        </h5>
                        <h6>
                          JM Road
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                        "JUST IN TIME is a leading watch retailer in India, offering a wide range of premium and luxury watches from various brands. Our showrooms are located in Mumbai, Thane, Pune, Ahmedabad, Bengaluru, Raipur, Indore, Surat, Rajkot and we aim to grow our presence across the country".
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="../../assets/images/titanworld.png" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Titan world
                        </h5>
                        <h6>
                          Aundh Pune.
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                        At Titan, we take immense pride in crafting the best-in-class watches that are designed to stand the test of time. As we strive to ensure a trustworthy shopping experience for our customers, it is important to note that sale of counterfeit products is illegal. However, we've noticed that there are counterfeit products being sold in the market, and we take this matter very seriously.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="../../assets/images/helios.png" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Helios Watch Store
                        </h5>
                        <h6>
                          Wakad
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                        We have every kind of watch you can dream of, from digital watches, analog watches, and chronograph watches to sports watches, luxury watches, and premium.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<ol class="carousel-indicators">
        <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel2" data-slide-to="1"></li>
        <li data-target="#customCarousel2" data-slide-to="2"></li>
      </ol>-->
    </div>
  </section>
  <!-- end client section -->
